    /*modify navbar properties*/
    .navbar-default {
    background-color: #c1591a;
    border-color:#e7e7e7;
    min-height: 72px;
    padding: 20px;
    }
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: red;
      
    }
   /* modify navbar link properties*/
    .navbar-default .navbar-nav > li > a {
    color: #144ba2;
    font-weight: bold;
  }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }