<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
	<script src="script.js" > </script>
  </head>
  
  <body>
  <form name="myform" action ="home.html" method="post"  onsubmit=" return validate();"> 
  <div class="login-box">
  <h1>Login</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Username" name="username">
    
  </div>
  <div id="username_error"></div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password" name="password">
    
  </div>
  <div id="password_error"></div>

  <input type="submit" class="btn" value="Sign in">
  <a href="" style="color: blue;"><h4>Need account?Register</h4></a>
 </div>

 </form>
  </body>
</html>
